*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 25px;
    background-color: rgb(55, 144, 144);
    text-align: center;
}

h1{
    font-style: italic;
    text-align: center;
    font-size: 3rem;
}

.container{
    height: 70vh;
    display: flex;
    background-color: rgb(50, 91, 91);
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:130px;
    width: 130px;
    border-radius: 12px;
    color: rgb(1, 252, 240);
    font-size: 40px;
    background-color: rgb(7, 32, 32);
}

#rstbtn{
    height: 40px;
    width: 100px;
    font-size: 1.25rem;
    color: aqua;
    background-color: rgb(7, 32, 32);
    border-radius: 0.4rem;
    border: none;
    font-weight: bold;
    text-align: center;
    margin: 4px;
}

#new-btn{
    height: 40px;
    width: 150px;
    font-size: 1.25rem;
    color: aqua;
    background-color: rgb(7, 32, 32);
    border-radius: 0.4rem;
    border: none;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

#msg{
    color: rgb(7, 32, 32);
    font-size: 5vmin;
}

.msg-container{
    margin-bottom: 400px;
    margin-top: 330px;
}

.hide{
    display: none;
}